@{
    ViewBag.Title = "Index";
}
@section css{
    <link href="~/Content/desktop/css/PhoneShop.min.css" rel="stylesheet" />
}


<div>
    <p id="demo">
        <h1></h1>
    </p>

    <h1>Demo Ajax file TXT and XML</h1>
    <button id="btn-ajax" onclick="loadDoc()">Change content Text</button>
    <button onclick="loadXML()">Change content XML</button>
    <hr />
    <h1>Demo Ajax file ASP  </h1>

    <h3>Start typing a name in the input field below:</h3>

    <form action="">
        First name: <input style="width:100px" type="text" id="txt1" onkeyup="loadASP(this.value)">
    </form>

    <p>Suggestions: <span id="txtHint"></span></p>
    <hr />

    <h1> Demo JQuery Ajax</h1>
    <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

    <button id="button1">Get External Content</button>

    <button id="button2">Send an HTTP GET request to a page and get the result back</button>

</div>
@section scripts{
    <script src="~/Scripts/js/demoAjax.js"></script>

}