@model IEnumerable<MVC_Project1.Models.Product>
@{
    ViewBag.Title = "ViewProduct";

}
@section css{
    <link href="~/Content/desktop/css/PhoneShop.css" ?v=@(DateTime.Now.ToString("hhmmss")) rel="stylesheet" />

}
<div class="title-product">
    <p>Danh Sách Sản Phẩm</p>
</div>
<div class="grid-container">
    @foreach (var product in Model)
    {
        <div class="grid-item">
            <a class="product-item"
               @{ var route = "san-pham-" + product.lname + "-" + product.Id;}
               href="@route">
                @{ var thumbnail = product.url;}
                <img class="img-product" src="@thumbnail" />

                <div class="product-name">
                    @product.name
                </div>
                <strong class="product-price">
                    @string.Format("{0:0.000}", product.Price) đ
                </strong>


            </a>
        </div>
    }
</div>
