@model IEnumerable<MVC_Project1.Models.Product>
@{
    ViewBag.Title = "ViewProduct";

}
@section css{
    <link href="~/Content/desktop/css/PhoneShop.min.css" ?v=@(DateTime.Now.ToString("hhmmss")) rel="stylesheet" />
    
}

<head>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>
<div class="container list-product">
    <div class="title-product">
        <p>Danh Sách Sản Phẩm</p>
    </div>
    <div class="grid-container">
        @Html.Partial("~/Views/HomeShop/ListProduct.cshtml", Model)
    </div>
    <button class="btn view-more" id="btnViewMore">Xem thêm</button>
</div> 
@section scripts{
    <script src="~/Scripts/js/demoAjax.js"></script>
 
}