
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dammio</title>
    @Styles.Render("~/Content/CSS/Product/product.css")
    @Scripts.Render("~/bundles/modernizr")

</head>



<div class="grid-container">
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/iphone-12-pro-max.jpg" alt=" Iphone-12-pro-max-129gb" />
            <div class="info">
                <div class="product-name">
                    <h4>IPhone 12 Pro Max 128GB</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">20.990.000₫</p>
                        <span class="percent">-14%</span>
                    </div>
                    <div class="prodcut-price">
                        17.990.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">100</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/iphone-11-(38).jpg" alt="Iphone-11-64gb" />
            <div class="info">
                <div class="product-name">
                    <h4>Iphone 11 64GB</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">17.490.000₫</p>
                        <span class="percent">-5%</span>
                    </div>
                    <div class="prodcut-price">
                        16.490.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">257</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/samsung-galaxy-a52-8gb-256gb.jpg" alt=" samsung-galaxy-a52" />
            <div class="info">
                <div class="product-name">
                    <h4>SamSung Galaxy A52 8GB/256GB</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">10.290.000₫</p>
                        <span class="percent">-7%</span>
                    </div>
                    <div class="prodcut-price">
                        9.790.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">278</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/samsung-galaxy-s20-fan-edition-(2).jpg" alt="Samsung-galaxy-s20 " />
            <div class="info">
                <div class="product-name">
                    <h4>SamSung Galaxy S20 FE</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">15.490.000₫</p>
                        <span class="percent">-16%</span>
                    </div>
                    <div class="prodcut-price">
                        12.900.000
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">69</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/vivo-y20s-(8).jpg" alt="Vivo-y20" />
            <div class="info">
                <div class="product-name">
                    <h4>Vivo Y20</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">4.990.000₫</p>
                        <span class="percent">-6%</span>
                    </div>
                    <div class="prodcut-price">
                        4.690.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">100</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/iphone-12-pro-max.jpg" alt=" Iphone-12-pro-max-129gb" />
            <div class="info">
                <div class="product-name">
                    <h4>IPhone 12 Pro Max 128GB</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">20.990.000₫</p>
                        <span class="percent">-14%</span>
                    </div>
                    <div class="prodcut-price">
                        17.990.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">100</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/iphone-11-(38).jpg" alt="Iphone-11-64gb" />
            <div class="info">
                <div class="product-name">
                    <h4>Iphone 11 64GB</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">17.490.000₫</p>
                        <span class="percent">-5%</span>
                    </div>
                    <div class="prodcut-price">
                        16.490.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">257</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/samsung-galaxy-a52-8gb-256gb.jpg" alt=" samsung-galaxy-a52" />
            <div class="info">
                <div class="product-name">
                    <h4>SamSung Galaxy A52 8GB/256GB</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">10.290.000₫</p>
                        <span class="percent">-7%</span>
                    </div>
                    <div class="prodcut-price">
                        9.790.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">278</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/samsung-galaxy-s20-fan-edition-(2).jpg" alt="Samsung-galaxy-s20 " />
            <div class="info">
                <div class="product-name">
                    <h4>SamSung Galaxy S20 FE</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">15.490.000₫</p>
                        <span class="percent">-16%</span>
                    </div>
                    <div class="prodcut-price">
                        12.900.000
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">69</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>
    <div class="grid-item">
        <a class="product-item" href="#">
            <img src="~/Content/Images/vivo-y20s-(8).jpg" alt="Vivo-y20" />
            <div class="info">
                <div class="product-name">
                    <h4>Vivo Y20</h4>
                </div>
                <strong>

                    <div class="box-p">
                        <p class="price-old black">4.990.000₫</p>
                        <span class="percent">-6%</span>
                    </div>
                    <div class="prodcut-price">
                        4.690.000đ
                    </div>

                    <div class="item-rating">
                        <p>
                            <i class="icon-star"></i>
                            <i class="icon-star"> </i>
                            <i class="icon-star"></i>
                            <i class="icon-star">  </i>
                            <i class="icon-star-dark"> </i>
                        </p>
                        <p class="item-rating-total">100</p>
                    </div>
                </strong>
            </div>
        </a>
    </div>


</div>