
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title- PhoneShop</title>
    @RenderSection("css", required: false)
    <link href="~/Content/CSS/style.css" rel="stylesheet"/>
</head>
<body>
        @* Start Header*@
    <header id="header"class="header fixed-top">
        <div class=" container-fluid">
            <a href="index.cshtml" class="logo">
                <span>PhoneShop</span>
            </a>
            
            <nav id="navbar" class="navbar">
                <ul>

                    <li><a class="nav-link scrollto " href="#">Home</a></li>
                    <li><a class="nav-link scrollto " href="#">About</a></li>
                    <li><a class="nav-link scrollto " href="#">Contact</a></li>
                    <li><a class="nav-link scrollto " href="#">Product</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer id=" footer" class="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Phone-Shop</span></strong>. All Rights Reserved
            </div>
            
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
