
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dammio</title>
    @Styles.Render("~/Content/categories.css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>


<body >
    <div class=" container">
        <header>
            <div class="header-top">
                <a href="#">
                    <img src="https://printgo.vn/uploads/file-logo/1/512x512.5f413bde7a2230b8c57d7c941afe9989.ai.1.png"  width="60" height="40" alt="" />
                </a>
            </div>
            <div class=" header-main">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">Categories</a></li>
                </ul>
                <form action="" class="form-search">
                    <input type="text" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ..." class="form-search-input"/>
                    <button type="submit" value="tìm kiếm" class="btn-search">Tìm Kiếm</button>
                </form>
            </div>
        </header>
        <section class="baner">
            <img src="" alt="" />
        </section>
        <section class="Categories">
            <h2>Danh mục sản phẩm</h2>
            <div class="row">
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/ts/upload/dc/0d/49/3251737db2de83b74eba8a9ad6d03338.png"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/c3/31/25/a6581eb9796edac56f0b833f4c38a052.png"
                             alt="Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng">
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/c6/88/35/d37390d534ab2a13b63d823755f0693c.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                       
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/c6/88/35/d37390d534ab2a13b63d823755f0693c.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/52/db/ed/250ed1f223e0711ac9f3ea93ade7074d.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/200x200/ts/product/6a/fd/9f/e3ef030fb6a7e2a1439bc6ae88345bbd.png"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/b3/95/fc/70f6724a71608f645d6435ebf5e0039b.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/86/dd/0c/116f1383ebab5e5af8e71301a80d1b17.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/86/78/40/0df5a90d7bd5d327de2d25d510dd9b65.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/36/96/0d/2844545518e34ff3a4fb8679d10f4a53.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                       
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/03/0a/d6/89aed7fd984fac6df180e3cac4ef9aec.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                       
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/29/df/c0/0b611efb0cfb36be9154e3a5a7187ef2.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/a9/2c/c6/40228339d1640d0db7af7f4be95d4bde.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/9f/e7/2e/c8d7c6fad742cf1a15f1b6b34e59fd2b.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                      
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="thumbnail">
                        <img src="https://salt.tikicdn.com/cache/200x200/ts/product/b6/ac/58/a781e8737a2409136f50428085437da7.jpg"
                             width="136"
                             height="24"
                             class="ccBLsE"
                             style="bottom: 0px; left: 0px;">
                        
                        <div class="style__OptionColor-sc-18svp8n-2 FzDve option-color">
                            <div class=" cIzQMm" style="width: 144px; margin: 16px auto 12px 0px;">
                                <div class=" IZyLq">
                                    <div class="Slide__Frame-sc-1bhg4sj-2 hwwfcE">
                                        <div width="25" class=" hMoQqt" style="border: 1px solid rgb(253, 130, 10);">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/a9/67/fa/66636033a9bf01987dc32a0b26ee0d8b.jpg" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                        <div width="25" class=" hMoQqt" style="border: 1px solid transparent;">
                                            <img src="https://salt.tikicdn.com/cache/64x64/ts/product/96/9c/39/4834f28e9481e8ceb65119b7dc8cf5f1.JPG" class="style__BlockImg-sc-18svp8n-5 kmGwFP">
                                        </div>
                                    </div>
                                </div>
                                <div class=" bxQYeQ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                            <p style="background: rgb(242, 242, 242);
                                line-height: 12px;
                                display: inline-block;
                                padding: 0px 4px;
                                font-size: 9px;
                                margin: 0px 4px 0px 0px;
                                position: relative;
                                top: -1px;
                                border-radius: 2px;">Ad</p>
                            <span>Tecno Pova 2 6GB l 128GB - Điện Thoại Thông Minh Chiến Game Cực Đỉnh - Hàng Chính Hãng</span>
                        </div>
                        <div class=" gMhBzE" style="margin-top: 2px; margin-bottom: 2px;">
                            <div class=" bQsmEJ">Đã bán 1</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">4.290.000 ₫</div>
                            <div class="price-discount__discount">-14%</div>
                        </div>
                    </div>
                </div>
                
            </div>
            
    </div>
    </div>
    </section>
    </div>
</body>
</html>