body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(36, 36, 36)
}

a {
    text-decoration: none;
}

header {
    background: rgb(1, 127, 255);
}

    header a {
        color: white
    }

.header-content {
    padding: 32px 15px;
    width: 1270px;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

.logo-and-category {
    display: grid;
    grid-template-columns: auto auto;
}

    .logo-and-category .logo {
        width: 60px;
        height: 40px;
        justify-self: center;
        align-self: center;
    }

        .logo-and-category .logo img {
            width: 100%;
            height: 100%;
        }

    .logo-and-category .category-dropdown {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        align-self: center;
        justify-self: center;
    }

        .logo-and-category .category-dropdown:hover {
            color: white;
            text-decoration: none;
        }

        .logo-and-category .category-dropdown img {
            width: 32px;
            height: 32px;
        }

        .logo-and-category .category-dropdown .category-lable {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 11px;
            line-height: 16px;
        }

        .logo-and-category .category-dropdown .product-lable {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
        }

        .logo-and-category .category-dropdown .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
        }

        .logo-and-category .category-dropdown:hover .dropdown-content {
            display: block;
            text-decoration: none;
            color: white;
        }

.dropdown-content a {
    display: block;
    color: black;
}

.search-form {
    display: grid;
    grid-template-columns: 80% 15%;
    justify-content: center;
}

    .search-form input {
        border: 0px;
        font-size: 13px;
        height: 40px;
        border-radius: 2px 0px 0px 2px;
        padding: 0px 12px;
    }

    .search-form .search {
        height: 40px;
        cursor: pointer;
        border: 0px;
        background: rgb(12,92,182);
        border-radius: 0px 2px 2px 0px;
        color: white;
        font-size: 13px;
        font-weight: 500;
        padding: 1px 6px;
        display: grid;
        grid-template-columns: 10% 60%;
        align-content: center;
        justify-content: center;
    }

        .search-form .search:hover {
            color: white;
        }

    .search-form button img {
        height: 20px;
        width: 20px;
        justify-self: end;
    }

.user-shortcut {
    display: grid;
    grid-template-columns: auto auto;
}

    .user-shortcut .account-container {
        display: grid;
        grid-template-columns: auto auto;
    }

        .user-shortcut .account-container:hover {
            color: white;
        }

    .user-shortcut img {
        width: 32px;
        height: 32px;
        justify-self: center;
    }

    .user-shortcut .account-lable {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 11px;
        line-height: 16px;
    }

    .user-shortcut .account-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
    }

    .user-shortcut .cart-item {
        display: grid;
        grid-template-columns: auto auto;
    }

        .user-shortcut .cart-item:hover {
            color: white;
        }

        .user-shortcut .cart-item .cart-lable {
            align-self: center;
        }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 32px 15px;
    width: 1270px;
    margin: 0 auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

/*css footer*/
footer{
    background:#808080;
}
.container-footer {
    padding: 32px 15px;
    width: auto;
    margin: 0 auto;
    color: #808080;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    grid-column-gap: 12px;
}
/*css About*/
.about {
    width: 40%;
}

.container-footer .about h2 {
    position: relative;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
}

    .container-footer .about h2:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: rgb(26, 148, 255);
    }

.container-footer .about p {
    color: black;
}

.social-icon {
    margin-top: 20px;
    display: flex;
}

    .social-icon li {
        list-style: none;
    }

        .social-icon li a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            text-decoration: none;
            border-radius: 4px;
        }

            .social-icon li a:hover {
                background: rgb(26, 148, 255);
            }

            .social-icon li a .fa {
                color: #ffffff;
                font-size: 20px;
            }
/* Css Links*/
.links h2 {
    position: relative;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
}

    .links h2::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: rgb(26, 148, 255);
    }

.links {
    position: relative;
    width: 30%;
}

    .links ul li {
        list-style: none;
    }

        .links ul li a {
            color: #000;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }

            .links ul li a:hover {
                color: rgb(26, 148, 255);
            }
/*Css contact*/
.contact h2 {
    position: relative;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
}

    .contact h2::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: rgb(26, 148, 255);
    }



.contact .info {
    position: relative;
}

    .contact .info li {
        display: flex;
        margin-bottom: 0;
    }

        .contact .info li span:nth-child(1) {
            color: #fff;
            font-size: 20px;
            margin-right: 10px;
        }

        .contact .info li span {
            color: #000;
        }

        .contact .info li a {
            color: #000;
            text-decoration: none;
        }

        .contact .info li span i {
            color: #000;
        }

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}

    .btn--primary:hover {
        background: rgb(26, 148, 255);
    }

    .btn--primary:active {
        background: rgb(26, 148, 255);
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
    }

.form__field {
    width: 90%;
    background: #fff;
    color: #d2f2e9;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}



@media (min-width: 1200px) and (max-width: 1400px) {
    .container {
        max-width: 98%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 98%;
    }

    .header-content {
        grid-template-columns: 10% 60% 25%;
        justify-content: center;
    }

    .logo-and-category .logo {
        width: 42px;
        height: 28px;
        align-self: start;
    }

    .logo-and-category .category-dropdown {
        display: unset;
    }

    .category-and-product-label {
        display: none;
    }

    .search-form {
        grid-template-columns: 75% 20%
    }

    .user-shortcut .account-container {
        align-items: center;
    }

    .user-shortcut img {
        width: 32px;
        height: 32px;
    }

    .user-shortcut .account-lable {
        display: none;
    }

    .user-shortcut .cart-item {
        align-items: center;
    }

        .user-shortcut .cart-item .cart-lable {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            align-self: center;
        }
}

@media (min-width: 576px) and (max-width: 992px) {
    .container {
        max-width: 98%;
    }

    .header-content {
        grid-template-columns: 20% 60% 22%;
        justify-content: center;
    }

    .logo-and-category .logo {
        width: 42px;
        height: 28px;
        align-self: start;
    }

    .logo-and-category .category-dropdown {
        display: unset;
    }

    .category-and-product-label {
        display: none;
    }

    .search-form {
        grid-template-columns: 75% 20%
    }

        .search-form .search {
            display: unset;
        }

    .search-lable {
        display: none;
    }

    .user-shortcut .account-container {
        align-items: center;
    }

    .user-shortcut img {
        width: 32px;
        height: 32px;
    }

    .user-shortcut .account-lable {
        display: none;
    }

    .account-name {
        display: none;
    }

    .user-shortcut .cart-item {
        align-items: center;
    }

        .user-shortcut .cart-item .cart-lable {
            display: none;
        }

    .footer-content {
        grid-template-columns: auto auto auto;
        justify-content: unset;
    }

    .about-tiki, .payment-method {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 576px) {
    .container {
        max-width: 98%;
    }

    .header-content {
        grid-template-columns: 25% 45% 25%;
        justify-content: center;
    }

    .logo-and-category .logo {
        width: 42px;
        height: 28px;
        align-self: start;
    }

    .logo-and-category .category-dropdown {
        display: unset;
    }

    .category-and-product-label {
        display: none;
    }

    .search-form {
        grid-template-columns: 75% 20%
    }

        .search-form .search {
            display: unset;
            padding: 0;
        }

    .search-lable {
        display: none;
    }

    .user-shortcut .account-container {
        align-items: center;
    }

    .user-shortcut img {
        width: 32px;
        height: 32px;
    }

    .user-shortcut .account-lable {
        display: none;
    }

    .account-name {
        display: none;
    }

    .user-shortcut .cart-item {
        align-items: center;
    }

        .user-shortcut .cart-item .cart-lable {
            display: none;
            align-items:center;
        }

    .footer-content {
        grid-template-columns: auto auto;
        justify-content: unset;
    }

    .about-tiki, .co-operation, .payment-method {
        display: none;
    }
}
