*{
    box-sizing : border-box;
}
body{
    margin: 0;
}
.img-fluid{
    max-width: 100%;
}
.container{
    max-width: 1000px;
    margin: auto;   
}

/* Header*/
header{
    margin-bottom: 10px
}
.header-top {
    background: rgb(1, 127, 255);
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161668;
}
.btn-search{
    color:blue;
    width:117px;
    height:40px;
}
.form-search-input {
    width: 600px;
    height: 40px;
    justify-content: center
}
.menu{
    margin:0;
    padding:0;
    list-style: none;
}
.menu li{
    display: inline-block;
}
.menu li a{
    text-decoration:none;
    color: #ffff;
    display: inline-block;
}
.Categories .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.Categories .col{
    border: 1px solid #c2c2c2;
    padding : 15px 25px ;
}